<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>shopForHome</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a href="/login"> <mat-icon>login</mat-icon> </a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a href="/"><mat-icon>logout</mat-icon></a>
    </button>
</mat-toolbar>